<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>SQL</li>
    <li>R</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>SciPy</li>
</ol>

<table>
    <thead>
        <tr>
            <th>Data Science Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>1. MySQL</td></tr>
        <tr><td>2. Jupyter</td></tr>
        <tr><td>3. GitHub</td></tr>
    </tbody>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>
<p>1+1=2</p>
<p>1-1=0</p>
<p>1*1=1</p>
<p>1/1=1</p>

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<strong>Objectives:</strong>
<ul>
    <li>List examples of commercial and cloud-based data science tools.</li>
    <li>List the global communities for connecting with other users.</li>
    <li>List the tasks that a data scientist needs to perform to build a model.</li>
    <li>Describe cloud based Jupyter environments and their data science features.</li>
    <li>Describe R capabilities and RStudio environment.</li>
</ul>

<h2>Author</h2>
<p>KANCHANA S.</p>